<div class="influencer-location">
  <a href="#">
    <svg width="80" height="128" viewBox="0 0 80 128" xmlns="http://www.w3.org/2000/svg">
      <path d="M40 0C17.875 0 0 17.875 0 40s20 52 40 88c20-36 40-65.875 40-88S62.125 0 40 0zm0 56c-8.875 0-16-7.125-16-16s7.125-16 16-16 16 7.125 16 16-7.125 16-16 16z" fill="#fff" fill-rule="nonzero"/>
    </svg>
    <span>{{city}}, {{state}}</span>
  </a>
</div>

<div class="influencer-blog-link">
  <a href={{blogUrl}} target="_blank">{{blogUrlName}}</a>
</div>

<div class="influencer-social">
    {{#each socialAccounts as |account|}}
      <a href={{account.link}} target="_blank">
        {{#if account.pinterest}}
          <svg width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
            <path d="M64 128C28.654 128 0 99.346 0 64 0 28.654 28.654 0 64 0c35.346 0 64 28.654 64 64 0 35.346-28.654 64-64 64zm27.745-76.255c0-12.212-10.34-23.585-26.066-23.585-19.559 0-29.424 14.023-29.424 25.72 0 7.08 2.68 13.38 8.43 15.73.945.385 1.79.01 2.06-1.03.195-.725.64-2.545.844-3.305.276-1.035.166-1.397-.594-2.297-1.655-1.955-2.715-4.488-2.715-8.073 0-10.405 7.785-19.72 20.27-19.72 11.055 0 17.129 6.757 17.129 15.78 0 11.87-5.25 21.89-13.049 21.89-4.31 0-7.535-3.56-6.5-7.93 1.24-5.215 3.636-10.845 3.636-14.612 0-3.37-1.811-6.18-5.556-6.18-4.4 0-7.941 4.554-7.941 10.657 0 3.886 1.316 6.516 1.316 6.516S49.08 80.401 48.29 83.741c-1.575 6.66-.24 14.824-.125 15.65.065.484.695.599.98.234.405-.535 5.65-7.01 7.43-13.475.505-1.829 2.895-11.32 2.895-11.32 1.435 2.73 5.615 5.135 10.06 5.135 13.24 0 22.215-12.065 22.215-28.22z" fill="#fff" fill-rule="nonzero"/>
          </svg>
        {{/if}}
        {{#if account.twitter}}
          <svg width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
            <path d="M64 128C28.654 128 0 99.346 0 64 0 28.654 28.654 0 64 0c35.346 0 64 28.654 64 64 0 35.346-28.654 64-64 64zm35.84-86.23a29.377 29.377 0 0 1-8.446 2.315 14.755 14.755 0 0 0 6.465-8.136 29.434 29.434 0 0 1-9.338 3.569 14.686 14.686 0 0 0-10.734-4.644c-8.123 0-14.706 6.584-14.706 14.705 0 1.153.13 2.276.38 3.352-12.222-.614-23.058-6.468-30.31-15.365a14.632 14.632 0 0 0-1.992 7.393 14.7 14.7 0 0 0 6.542 12.24 14.636 14.636 0 0 1-6.66-1.84c-.002.062-.002.123-.002.186 0 7.125 5.07 13.068 11.797 14.42a14.734 14.734 0 0 1-6.642.252c1.872 5.842 7.303 10.093 13.738 10.212a29.502 29.502 0 0 1-18.265 6.296c-1.187 0-2.357-.07-3.507-.205a41.62 41.62 0 0 0 22.543 6.606c27.05 0 41.842-22.408 41.842-41.842 0-.638-.015-1.271-.043-1.902a29.865 29.865 0 0 0 7.338-7.612z" fill="#fff" fill-rule="nonzero"/>
          </svg>
        {{/if}}
        {{#if account.facebook}}
          <svg width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
            <path d="M64 128C28.654 128 0 99.346 0 64 0 28.654 28.654 0 64 0c35.346 0 64 28.654 64 64 0 35.346-28.654 64-64 64zm-8.641-27H68.944V67.246h11.33L81.97 54.09H68.945v-8.399c0-3.808 1.056-6.404 6.52-6.404l6.964-.003V27.519c-1.205-.161-5.34-.519-10.15-.519-10.044 0-16.92 6.13-16.92 17.39v9.7H44v13.156h11.359V101z" fill="#fff" fill-rule="nonzero"/>
          </svg>
        {{/if}}
      </a>
    {{/each}}
</div>

<div class="influencer-focus">
  <h4>Focus</h4>
  {{#each topics as |topic|}}
    <span>
      <a href="#">{{topic}}</a><span>,</span>
    </span>
  {{/each}}
</div>

<div class="influencer-retailers">
  <h4>Retailers Frequented</h4>
  {{#each retailers as |retailer|}}
    <span>
      <a href="#">{{retailer}}</a><span>,</span>
    </span>
  {{/each}}
</div>

<div class="influencer-personal-details">
  <h4>Personal Details</h4>
  <div><a href="#">{{isMarried}}</a></div>
  <div><a href="#">{{kids}}</a></div>
  <div><a href="#">{{gender}}</a></div>
</div>
