<header>
  <div class="site-wrapper">
    <div class="influencer-header-wrapper">
      <div class="influencer-header-info">
        <img src="/assets/images/erica-acevedo.png" />
        <div>
          <h2>{{influencer.firstname}} {{influencer.lastname}}</h2>
          <h3>{{influencer.blogName}}</h3>
        </div>
      </div>
      <div>
        <a href="#">Share</a>
      </div>
    </div>
  </div>
</header>


<div class="influencer-body">
  <a href="#">{{influencer.city}}, {{influencer.state}}</a>
  <a href="#">{{influencer.blogUrl}}</a>
  <h4>Focus</h4>
  <a href="#">{{influencer.content_topics_muse_}}</a>
  <h4>Retailers Frequented</h4>
  <a href="#">{{influencer.retailers_frequented_muse_}}</a>
  <h4>Personal Details</h4>
  <a href="#">{{influencer.married}}</a>
  <a href="#">{{influencer.numberOfKids}}</a>
  <a href="#">{{influencer.gender}}</a>
</div>
